@import '../../../styles/colors.module.scss';

@mixin select-dropdown-menuBorders($color) {
  border-width: 1px;
  border-style: solid;
  border-color: #{$color};
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px #{$color};
}

.select-dropdown {
  cursor: pointer;
  display: flex;
  width: 300px;

  .select-dropdown_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 5px 5px 5px 5px;
    @include select-dropdown-menuBorders($red-4);

    &:hover,
    &:hover.select-dropdown_header--selected {
      @include select-dropdown-menuBorders($green-4);
    }

    &.select-dropdown_header--selected {
      @include select-dropdown-menuBorders($blue-4);
    }
    .select-dropdown_header_title {
    }
  }
}

ul.select-dropdown_menu {
  position: absolute;
  background-color: $white;
  list-style-type: none;
  padding-inline-start: 0px;
  @include select-dropdown-menuBorders($blue-4);

  &:hover {
    @include select-dropdown-menuBorders($green-4);
  }
  //to be overriden inline
  top: 0;
  left: 0;
  z-index: 5000;
}
