.world-air-quality-map {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}
.world-air-quality-map__map {
  height: 700px;
}

.world-air-quality-map__latest-data {
  height: 700px;
}
